<!--
  Management Page
-->
<% content_for(:title, "Device Management") %>

<article>
  <h1 class="page-header"><a href="/profiles/devices"><i class="fa fa-chevron-circle-left fa-1x" aria-hidden="true"></i></a> Device Management</h1>

  <% if resources.success %>
    <% devices   =  resources.payload.devices %>
    <% scheduled =  resources.payload.scheduled %>
    <% catalog   =  resources.payload.catalog %>

    <section>
      <div class="panel panel-info">
        <div class="panel-heading ">
          <h2 class="panel-title">Scheduled Firmware Deployments</h2>
        </div>
        <div class="table-responsive">
          <table id="scheduled-table" class="table table-condensed table-hover table-striped no-wrap" cellspacing="0" width="100%">
            <thead>
              <th>Actions</th>
              <th>Scheduled</th>
              <th>Completed</th>
              <th>Device</th>
              <th>Mac Addr</th>
              <th>Firmware</th>
              <th>Version</th>
              <th>Status</th>
            </thead>
            <tbody>

            <% scheduled.each do |entry| %>
              <tr data-package="<%== entry.to_json %>">
                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Cancel Item Scheduled"><a href="#"><i class="fa fa-trash  fa-1x"></i></a></td>
                <td><%= entry.date_requested %></td>
                <td><%= entry.date_completed %></td>
                <td><%= entry.device_name %></td>
                <td><%= entry.mac %></td>
                <td data-toggle="tooltip" data-placement="top" title="<%= entry.ota_format %>"><%= entry.firmware_filename %></td>
                <td><%= entry.version %></td>
                <td><%= entry.state %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section>
      <div class="panel panel-info">
        <div class="panel-heading ">
          <h2 class="panel-title">Firmware Inventory</h2>
        </div>
        <div class="table-responsive">
          <table id="firmware-table" class="table table-condensed table-hover table-striped no-wrap" cellspacing="0" width="100%">
            <thead>
              <th>Actions</th>
              <th>Filename</th>
              <th>Firmware</th>
              <th>Version</th>
              <th>CheckSum</th>
              <th>Size</th>
              <th>Updated</th>
            </thead>
            <tbody>

            <% catalog.each do |item| %>
              <tr data-package="<%== item.to_json -%>">
                <td class="text-center" data-toggle="tooltip" data-placement="top" title="Remove from Filesystem!"><a href="#"><i class="fa fa-trash fa-1x"></i></a></td>
                <td><%= item.filename %></td>
                <td><%= item.name %></td>
                <td><%= item.version %></td>
                <td><%= item.checksum %></td>
                <td><%= human_filesize(item.fsize) %></td>
                <td><%= item.updated.strftime("%Y-%b-%d %H:%M") %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section>
      <div class="panel panel-info">
        <div class="panel-heading ">
          <h2 class="panel-title">Homie Devices</h2>
        </div>
        <div class="table-responsive">
          <table id="devices-table" class="table table-condensed table-hover table-striped no-wrap" cellspacing="0" width="100%">
            <thead>
              <th>MAC Addr</th>
              <th>Online</th>
              <th>IP Addr</th>
              <th>Name</th>
              <th>CheckSum</th>
              <th>Firmware</th>
              <th>Version</th>
              <th>OTA.enabled</th>
            </thead>
            <tbody>

            <% devices.each do |device| %>
              <tr id="<%= device[:name] %>" data-package="<%== device.to_json %>">
                <td><%= get_attribute_value(device, '$mac') %></td>
                <td><%= get_online_value(device).to_s %></td>
                <td><%= get_attribute_value(device, '$localip') %></td>
                <td><%= get_attribute_value(device, '$name') %></td>
                <td><%= get_attribute_property_value(device, '$fw', 'checksum') %></td>
                <td><%= get_attribute_property_value(device, '$fw', 'name') %></td>
                <td><%= get_attribute_property_value(device, '$fw', 'version') %></td>
                <td><%= get_attribute_property_value(device, '$implementation', 'ota.enabled') %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </section>

    <section>
      <div class="well col-md-12">

        <div class="well col-md-4 ">
          <h4>Schedule OTA Updates</h4>
          <div id="schedule-ota" class="form-horizontal"  role="form" action="/homie/subscribe" method="POST">
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="device-select" name="device">
                  <option class="active" value="">Select Device</option>
                  <% devices.each do |device| %>
                    <option value="<%= device[:name] %>">
                      [<%= get_attribute_value(device, '$mac') %>] ~> <%= get_attribute_value(device, '$name') %>
                    </option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="firmware-select" name="checksum">
                  <option class="active" value="">Select Firmware</option>
                  <% catalog.each do |item| %>
                    <option value="<%= item.checksum %>">
                      [<%= item.version %>] ~> <%= item.filename %>
                    </option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="ota-select" name="ota_format">
                  <option class="active" value="">Select OTA Format</option>
                    <option value="binary">Binary</option>
                    <option value="base64">Base64</option>
                    <option value="base64strict">Base64Strict</option>
                    <option value="RFC4648">RFC4648 (URL Safe) with Padding</option>
                    <option value="RFC4648_pad">RFC4648 (URL Safe) w/o Padding</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-block btn-info" id="firmware-schedule-add">
                  <i class="fa fa-calendar-check-o"></i> Schedule Firmware Update
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="well col-md-8">
          <h4>Upload Additional Firmware</h4>
          <div id="fine-uploader-manual-trigger"></div>
        </div>

      </div>
    </section>

    <section>
      <div class="panel panel-default">
        <div class="panel-heading ">
          <h2 class="panel-title">Random Notes</h2>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-info" id="any-action"><i class="fa fa-send-o"></i> Send Message</a>
        </div>
        <div class="well">
          <dl>
            <dt>baseId/deviceId/nodeId/propertyId/attributeId</dt>
              <dd>Formal Node message structure</dd>
            <dt>homie/deviceId/attributeId/propertyId/propertyId</dt>
              <dd>Formal Device message structure</dd>
            <dt>homie/deviceId/$implementation/reset</dt>
              <dd>You can publish a true to this topic to reset the device.  Erases its config file and goes offline!</dd>
            <dt>homie/deviceId/$implementation/config/set</dt>
              <dd>You can update the configuration.json by sending incremental JSON on this topic.</dd>
            <dt>homie/deviceId/$implementation/ota/firmware/&lt;md5 checksum&gt;</dt>
              <dd>If the update request is accepted, you must send the firmware payload to this topic.</dd>
            <dt>homie/deviceId/$implementation/ota/status</dt>
              <dd>HTTP-like status code indicating the status of the OTA. Might be:
                <ul>
                  <li>200	OTA successfully flashed</li>
                  <li>202	OTA request / checksum accepted</li>
                  <li>206 465/349680	OTA in progress. The data after the status code corresponds to &lt;bytes written&gt;/&lt;bytes total&gt;</li>
                  <li>304	The current firmware is already up-to-date</li>
                  <li>400 BAD_FIRMWARE	OTA error from your side. The identifier might be BAD_FIRMWARE, BAD_CHECKSUM, NOT_ENOUGH_SPACE, NOT_REQUESTED</li>
                  <li>403	OTA not enabled</li>
                  <li>500 FLASH_ERROR	OTA error on the ESP8266. The identifier might be FLASH_ERROR</li>
                </ul>
              </dd>
          </dl>
        </div>
      </div>
    </section>

  <% else %>

    <section>
      <div class="well well-lg text-primary bg-success col-md-offset-2 col-md-8">
        <h2 class="text-center">No actionable devices were discovered.</h2>
      </div>
    </section>

  <% end %>

</article>
