<!--
  Settings Page
-->
<% content_for(:title, "Settings") %>

<article>
  <h1 class="page-header"><a href="/profiles/devices"><i class="fa fa-chevron-circle-left fa-1x" aria-hidden="true"></i></a> Runtime Settings</h1>

  <% if resources.success %>

    <section>
      <div class="well col-md-12">

        <div class="well col-md-6 ">
          <h4>Schedule OTA Updates</h4>
          <div id="schedule-ota" class="form-horizontal"  role="form" action="/homie/config_update" method="PUT">
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="device-select" name="device">
                  <option class="active" value="">Select</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="firmware-select" name="checksum">
                  <option class="active" value="">Select </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" id="ota-select" name="ota_format">
                  <option class="active" value="">Default OTA Format</option>
                    <option value="binary">Binary</option>
                    <option value="base64">Base64</option>
                    <option value="base64strict">Base64Strict</option>
                    <option value="RFC4648">RFC4648 (URL Safe) with Padding</option>
                    <option value="RFC4648_pad">RFC4648 (URL Safe) w/o Padding</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-block btn-info" id="firmware-schedule-add">
                  <i class="fa fa-calendar-check-o"></i> Update
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="well">
        <h3>Runtime Configuration</h3>
        <dl>
          <dt>Release</dt>
          <dd><%= release_name_and_version %></dd>
          <dt>MQTT Host</dt>
          <dd><%= SknSettings.mqtt.host %></dd>
          <dt>MQTT Client ID</dt>
          <dd><%= Homie::Handlers::Stream.client_id %></dd>
          <dt>MQTT SSL Enabled</dt>
          <dd><%= Homie::Handlers::Stream.ssl_enable %></dd>
          <dt>MQTT Username</dt>
          <dd><%= SknSettings.mqtt.username %></dd>
          <dt>MQTT Topic Subscription</dt>
          <dd><%= Homie::Handlers::Stream.base_topics %></dd>
          <dt>MQTT/OTA default type</dt>
          <dd><%= Homie::Handlers::Stream.ota_type %></dd>
          <dt>Discovery Database File</dt>
          <dd><%= SknSettings.content_service.data_source.store %></dd>
          <dt>Firmware Path</dt>
          <dd><%= SknSettings.content_service.firmware_path %></dd>
          <dt>Paho Debug Log Path</dt>
          <dd><%= SknSettings.mqtt.debug_log_file %></dd>
        </dl>
      </div>
    </section>

  <% else %>

    <section>
      <div class="well well-lg text-primary bg-success col-md-offset-2 col-md-8">
        <h2 class="text-center">System Error: Settings Feature Failure!.</h2>
      </div>
    </section>

  <% end %>

</article>
